.root{
    -fx-background-color: #FFF;
}

.table-view{
   -fx-background-color: #fff;
}

.table-view:focused{
    -fx-background-color: transparent;
}

/* Spaltenköpfe
    Struktur column-header-background -> column-header */

.table-view .column-header-background{
    -fx-background-color: #FFF;
}

.table-view .column-header-background .label{
    -fx-text-fill: #2A24BF;
    -fx-font-size: 20px;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .table-cell{
	-fx-font-size: 15px;
	-fx-font-weight: bold;
    -fx-text-fill: black;
}

.table-row-cell{
    -fx-background-color: #fff;
}


.table-row-cell:selected {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}

.table-view > .virtual-flow > .scroll-bar:vertical,
.table-view > .virtual-flow > .scroll-bar:vertical > .track,
.table-view > .virtual-flow > .scroll-bar:vertical > .track-background, 
.table-view > .virtual-flow > .scroll-bar:horizontal,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track-background {
    -fx-background-color: transparent;
}



.table-view > .virtual-flow > .scroll-bar > .increment-button, 
.table-view > .virtual-flow > .scroll-bar > .decrement-button {
    -fx-opacity: 0;
}